/* some style */

html,body {
    font-family: Verdana;
    margin: 0px;
}


.bigpad {
    margin-left: 1em;
    margin-right: 1em;
}

.smallpad {
    margin-left: 2px;
    margin-right: 2px;
}

div#app {
    margin: 0px;
}

div#board, div#card {
    margin: 0px;
}

div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.outlined {
    padding: 2px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 5px;
}

.h-spaced {
    margin-left: 1em;
    margin-right: 1em;
}

input {
    border-radius: 5px;
}

.available {
    font-weight: bold;
}


@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
